html {
    scroll-behavior: smooth;
}

.section {
    scroll-margin-top: 0px;
}

#home,
#about,
#location,
#utilities,
#design,
#progress {
    scroll-margin-top: 100px;
}

/* Active state item */
.primary-menu .menu-item a.active {
    color: #e7c360 !important;
    font-weight: bold !important;
}

@media (max-width: 768px) {
    .primary-menu {
        position: fixed;
        height: 60px;
    }

    body {
        padding-top: 60px;
    }
}